
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-gris);
    gap: 20%;
    font-family: var(--font-EB);
    height: 15vh;
    position: sticky;
    top: 0;
    z-index: 1000;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    background-color: #292e3157;
}

.logo {
    width: 60px;
    padding: 1%;
    border-radius: 250px;
    margin-left: 3%;
}

/* Menú de escritorio */
.listanav {
    display: flex;
    gap: 30px;
    color: white;
    list-style: none;
    text-decoration: none;
    margin-right: 3%;
}

.lista {
    font-size: 1.1em;
    text-decoration: none;
    color: white;
}

.highlight {
    background-color: var(--color-naranja);
    color: white;
    padding: 8px 16px;
    border-radius: 20px;
    font-weight: bold;
    transition: background-color 0.3s ease-in-out;
    border: 1px solid var(--color-naranja);
}

.highlight:hover{
    border: 1px solid var(--color-naranja);
    background-color: white;
}

.lista:hover {
    color: var(--color-naranja);
}

/* Ícono de menú hamburguesa */
.menu-icon {
    font-size: 30px;
    color: white;
    cursor: pointer;
}

/* Ocultar menú hamburguesa en escritorio */
.hamburger {
    display: none;
}

/* Estilos responsive */
@media (max-width: 768px) {
    .listanav {
        display: none;
    }

    .hamburger {
        display: block;
        margin-right: 10px;
    }

    .logo {
        width: 40px;
    }

    .navbar {
        height: 10vh;
        padding: 0 10px;
    }

    /* Menú desplegable */
    .mobile-menu {
        position: absolute;
        top: 40px;
        right: 20px;
        width: 70%;
        background: linear-gradient(133deg, rgba(34, 34, 34, 1) 76%, rgba(237, 95, 68, 1) 100%);
        padding: 10px;
        border-radius: 8px;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
        text-align: center;
    }

    .mobile-menu li {
        list-style: none;
        padding: 10px 20px;
    }

    .menu-item {
        color: white;
        text-decoration: none;
        font-weight: bold;
        transition: color 0.3s;
    }

    .menu-item:hover {
        color: var(--color-naranja);
    }
}