.c-proyects{
    background: var(--color-gris);
    padding: 5%;
    scroll-margin-top: 80px;
}
.c-proyects h1{
    margin: 0;
    font-family: var(--font-EB);
    color: var(--color-naranja);
    text-align: center;
    font-size: 1em;
}
.c-proyects p{
    text-align: center;
    font-size: 1.4em;
    color: white;
    margin-bottom: 0;
}
.c-im-proyec{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 0 2%;
    /* gap: 80px; */
}
.c-im-proyec-uni{
    box-sizing: border-box;
    width: 100%;
    margin: 10px 0;
}

.c-im-proyec-uni h2{
    text-align: center;
    font-family: var(--font-EB);
    font-weight: 900;
    color: var(--color-naranja);
}

.c-im-proyec-uni p{
    font-size: 0.9em;
    margin-bottom: 15px;
}
.c-im-proyec-uni a{
    display:flex;
    justify-content: center;
    align-items: center;
    color: var(--color-naranja);
    gap: 10px;
    font-family: var(--font-EB);
    font-size: 1em;
}

@media (min-width: 1024px) {
    .c-im-proyec-uni{
        width: 40%;
    }
    .c-im-proyec{
        gap: 50px;
    }
}